 body {
                font: normal normal 12px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
                color: #222222;
                background: #66bbdd; /* Old browsers */
/*background: -moz-linear-gradient(top, #66bbdd 0%, #66bbdd 1%, #feffff 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ddf1f9), color-stop(1%,#66bbdd), color-stop(100%,#feffff)); 
background: -webkit-linear-gradient(top, #66bbdd 0%,#66bbdd 1%,#feffff 100%); 
background: -o-linear-gradient(top, #66bbdd 0%,#66bbdd 1%,#feffff 100%); 
background: -ms-linear-gradient(top, #66bbdd 0%,#66bbdd 1%,#feffff 100%); 
background: linear-gradient(to bottom, #66bbdd 0%,#66bbdd 1%,#feffff 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66bbdd', endColorstr='#feffff',GradientType=0 ); /* IE6-9 */*/
                padding: 0 40px 0px 40px;
            }

            .fullBg {
                position: absolute;
                top: 0px;
                left: 0px;
                overflow: auto;
                z-index: 1;
            }

            .content-outer {
                -moz-box-shadow: 0 0 20px #333333;
                -webkit-box-shadow: 0 0 20px #333333;
                -goog-ms-box-shadow: 0 0 20px #333333;
                box-shadow: 0 0 20px #333333;
                margin-bottom: 1px;
                min-width: 640px;
                max-width: 640px;
                _width: 640px;
            }
            /*
        .content-outer {
        min-width: 640px;
        max-width: 640px;
        _width: 640px;
        }*/

            .link1 {
                color: #330EDA;
                font-size: 12px;
                padding-right: 25px;
                font-weight: bold;
            }
            /*2D00D2*/
            a:link.link1 {
                color: #330EDA;
                text-decoration: underline;
            }

            a:active.link1 {
                color: #330EDA;
                text-decoration: underline;
            }

            a:visited.link1 {
                color: #330EDA;
                text-decoration: underline;
            }

            a:hover.link1 {
                color: #330EDA;
                text-decoration: none;
            }